<div class="card">
  <div class="card-body">
    <h2 class="text-center">Registro de uma Nova área</h2>
    <%= simple_form_for @danger_area, html: { class: 'form-horizontal' } do |f| %>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.input :name, label: "Nome", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.input :description, label: "Descrição", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.input :latitude, label: "Latitude", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.input :longitude, label: "Longitude", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.input :risk, collection: 1..5, prompt: "Selecione o risco", label: "Risco", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, "Registrar", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
