<h1>Area Details</h1>

<%# Fetch the danger area using its ID %>
<% @danger_area = DangerArea.find(params[:id]) %>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @danger_area.name %></dd>

  <dt>Latitude</dt>
  <dd><%= @danger_area.latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @danger_area.longitude %></dd>

  <dt>Risk</dt>
  <dd><%= @danger_area.risk %></dd>
</dl>

<%= link_to "Delete", danger_area_path(@danger_area), method: :delete, data: { confirm: "Are you sure you want to delete this area?" }, class: "btn btn-danger" %>
<%= link_to "Edit", edit_danger_area_path(@danger_area.id), class: "btn btn-secondary" %>
<%= link_to "Go Back", danger_areas_path, class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
