<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkcetjel5/image/upload/v1717543613/fotoAviaoParaBanner-travelShield_q00wi7.jpg);">
  <div class="container">
    <h1>TravelShield <strong>informa sobre a segurança do destino</strong> para <strong>quem quer viajar</strong>!</h1>
    <p>Deixe a sua viagem mais segura com informações sobre qualquer destino.</p>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-4">
          <%= form_with url: cities_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Digite um destino"
              %>
            <%= submit_tag "Buscar", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="home-card mt-5">
  <div class="card mb-4 rounded">
    <div class="card">
      <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717714474/fotoRiodeJaneiro_c%C3%B3pia_obzuaf.jpg" />
    </div>
    <div class="home-card-body mx-3 my-3">
        <h5 class="home-card-title"><%= link_to "Rio de Janeiro", cities_path %></h5>
      <p>Short description here!</p>
    </div>
  </div>
  <div class="card mb-4 rounded">
    <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717714474/fotoSaoPaulo_rvpz2l.jpg" />
    <div class="home-card-body mx-3 my-3">
      <h5 class="home-card-title">São Paulo</h5>
      <p>Short description here!</p>
    </div>
  </div>
  <div class="card mb-4 rounded">
    <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717714404/fotoFlorianopolis_kxmapz.jpg" />
    <div class="home-card-body mx-3 my-3">
      <h5 class="home-card-title">Santa Catarina</h5>
      <p>Short description here!</p>
    </div>
  </div>
  <div class="card mb-4 rounded">
    <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717714404/fotoJericuaquara_eefgmu.jpg" />
    <div class="home-card-body mx-3 my-3">
      <h5 class="home-card-title">Ceará</h5>
      <p>Short description here!</p>
    </div>
  </div>
</div>

<%#
<div class="home-card mt-5">
  <% @cities.each do |city| %>
    <%# <div class="card mb-4 rounded">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="home-card-body">
          <%= link_to city_path(city) do %>
            <%# <h5 class="home-card-title"><%= city.name %></h5>
          <%# <% end %>
          <%# <p>Short description here!</p>
        </div>
    </div>
  <% end %>
<%# </div> %>

<div class="home-section-three d-flex align-items-center">
  <div class="col-4">
    <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717719245/iconeDeAlerta-vermelho_o9ybdl.png" width="200px" />
  </div>
  <div class="col-8 text-start pe-5">
    <h2>Áreas perigosas</h2>
  </div>
</div>

<div class="home-section-four d-flex align-items-center">
  <div class="col-8">
    <h2>Dicas</h2>
  </div>
  <div class="col-4 text-start pe-5">
    <img src="https://res.cloudinary.com/dkcetjel5/image/upload/v1717719354/iconeDeJoinha_rstmbu.png" width="220px" />
  </div>
</div>
