<div class="banner p-5" style="background: linear-gradient(to top right, #003366 25%, #660033 80%);">
  <h1 class="display-4" style="color: white;">Cidades</h1>
</div>

<div class="row justify-content-center" style="background-color: rgb(235, 233, 230); position: relative;">
  <div class="col-sm-8 my-5" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%); width: 35%; z-index: 10;">
    <%= form_with url: cities_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Digite um destino"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-primary fw-semibold ms-1" %>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="cards mt-3">
  <% @cities.each do |city| %>
    <div class="card-trip">
      <%= link_to city_path(city) do %>
        <%= image_tag("https://res.cloudinary.com/dkcetjel5/image/upload/v1717714474/fotoRiodeJaneiro_c%C3%B3pia_obzuaf.jpg") %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h5 class="card-section-title"><%= city.name %></h5>
          <p>Short description here!</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
