<% @city = City.find(params[:id]) %>

<h1><%= @city.name %> - <%= @city.state %></h1>
<div class="description">
  <h3>Descricao:</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas laudantium saepe repellendus doloremque ducimus quo, impedit ullam beatae, tenetur sapiente id deserunt fugit harum tempore esse a? Inventore, aut modi!</p>
</div>

<p><%= @city.district %> *Talvez um mapa aqui tambem?*</p>
<div>
  <h3>Fique de Olho:</h3>
  <p><%= @city.safety_tip %> inhabitants</p>
</div>
<%= link_to "Voltar para Cidades", cities_path, class: "btn btn-info" %>
