<h1 class="mb-4">Editar Avaliação</h1>

<%= form_with(model: @review, local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@review.errors.count, "erro") %> impediram esta avaliação de ser salva:</h4>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Título", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", value: @review.title %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Conteúdo", class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 5, value: @review.comment %>
  </div>

  <div class="form-group">
    <%= form.label :rating, "Classificação", class: "form-label" %>
    <%= form.number_field :rating, class: "form-control", min: 1, max: 5, value: @review.rate %>
  </div>

  <div class="form-group mt-3">
    <%= form.submit "Salvar Avaliação", class: "btn btn-primary" %>
    <%= link_to 'Voltar', reviews_path, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>
