<div class="container my-5" style="padding-bottom: 3rem;">
  <div class="row mb-4">
    <div class="col-md-12">
      <form class="d-flex align-items-center" action="<%= reviews_path %>" method="get">
        <label for="rating" class="me-2">Filtros:</label>
        <select name="rating" id="rating" class="form-select me-2 w-auto">
          <option value="" <%= "selected" if params[:rating].blank? %>>Todos</option>
          <option value="1" <%= "selected" if params[:rating] == "1" %>>★☆☆☆☆</option>
          <option value="2" <%= "selected" if params[:rating] == "2" %>>★★☆☆☆</option>
          <option value="3" <%= "selected" if params[:rating] == "3" %>>★★★☆☆</option>
          <option value="4" <%= "selected" if params[:rating] == "4" %>>★★★★☆</option>
          <option value="5" <%= "selected" if params[:rating] == "5" %>>★★★★★</option>
        </select>
        <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
      </form>
    </div>
  </div>

  <div class="row">
    <% if @filtered_reviews.present? %>
      <% @filtered_reviews.each do |review| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100 border-0 shadow-sm rounded">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-2"><%= link_to review.user.name, profile_user_path(review.user) %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= review.title %></h6>
              <p class="card-text mt-auto mb-2">Avaliação: <%= star_rating(review.rate) %></p>
              <div class="mt-auto d-flex justify-content-end">
                <%= link_to reviews_info_path(review), class: "text-secondary" do %>
                  <i class="fas fa-info"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">Nenhuma avaliação encontrada.</p>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
   <%== pagy_bootstrap_combo_nav_js(@pagy) %>
  </div>
</div>
